@charset "utf-8";
@import "./fonts.scss";
@import "./variables";
@import "./custom_bulma_style.scss";
@import '../assets/sass/main.scss';

.children_is_center {
  display: flex;
  align-items: center;
  align-content: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $background-color;
    min-height: 100vh;
  }

  header {
    text-align: center;
  }

  h1 {
    font-family: 'Quicksand', sans-serif;
    // font-weight: 15rem;
    color: $primary-text-color;
    // font-size: 2rem;
    font-weight: bold;
  }