@charset "utf-8";
@import "./_fonts.scss";
@import "./_variables.scss";
@import "./custom_bulma_style.scss";
@import '../assets/sass/main.scss';

.children_is_center {
  display: flex;
  align-items: center;
  align-content: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(
      to left,
      rgba(255, 71, 87,1.0) 0%,
      rgba(255, 107, 129,1.0) 100%
    ); */
    background-color: #fff9de;
    min-height: 100vh;
  }

  header {
    text-align: center;
  }

  h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    color: $primary-text-color;
    font-size: 3rem;
    font-weight: bold;
  }